@font-face {
    font-family: 'roboto';
    src: url(TP2_StephanieCoutu_DelphineHubert/fonts/roboto/Roboto-Light.ttf);
}

$couleur-nav: rgb(31 41 55);
$couleur-nav-pale: rgb(60, 71, 92);

@mixin button {
    background-color: white;
    color: $couleur-nav;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

@mixin buttonHover {
    border-radius: 10px;
    width: 155px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

@mixin border-bottom {
    border-bottom: 1.5px solid $couleur-nav;
}

* {
    font-family: 'roboto';
    color: white;
}



body {
    width: 100%;
    margin: 0 auto;
    background-color: $couleur-nav-pale;
}

p {
    font-size: 15px;
}

/* NAVIGATION */
.logo {
    width: 50%;
}

/* IMAGES ET EXTRAITS */

.images-extraits-txt {
    text-align: center;
    margin: 0 auto;
}

input[type=submit] {
    @include button();
}

input[type=submit]:hover {
    @include buttonHover();
}

input[type=email] {
    padding: 5px;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

input::placeholder {
    color: white;
    font-size: 0.8em;
    text-align: center;
}

/* PRÉSENTATION DES ACTEURS */

.icone {
    width: 8%;
    display: inline-block;
    padding-left: 3px;
}

/* FAITS DIVERS */

.box-chiffre-left {
    width: 50%;
    float: left;
}

.box-chiffre-right {
    width: 50%;
    float: right;
}

.faits-divers-button {
    @include button;
}

.faits-divers-button:hover {
    @include buttonHover;
}

button {
    text-transform: uppercase;
}


/* FOOTER */

footer {

    padding: 2rem 0;
    background-color: #462373;

    p {
        font-size: 1.2rem;
        color: white;
        clear: both;
        text-align: center;
    }



    .mediasocial {

        &__item {
            display: inline-block;
            list-style: none;

            &--Facebook {
                background-image: url(../img/facebook.png);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                text-indent: -33333px;
                background-size: contain;
            }

            &--Linkedin {
                background-image: url(../img/linkedin.png);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                text-indent: -33333px;
                background-size: contain;
            }

            &--Twitter {
                background-image: url(../img/twitter.png);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                text-indent: -33333px;
                background-size: contain;
            }

            &--Instagram {
                background-image: url(../img/instagram.png);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                text-indent: -33333px;
                background-size: contain;
            }
        }
    }

    .sourceFooter-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
}