@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url(TP2_StephanieCoutu_DelphineHubert/fonts/roboto/Roboto-Light.ttf);
}
* {
  font-family: "roboto";
  color: white;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(60, 71, 92);
}

p {
  font-size: 15px;
}

h1 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 20px;
  border-top: 2px solid rgb(31, 41, 55);
}

h2 {
  font-size: 20px;
}

h5 {
  font-size: 50px;
  padding-top: 20px;
}

/* NAVIGATION */
.logo {
  width: 15%;
}

/* IMAGES ET EXTRAITS */
#images-extraits {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.images-extraits-txt {
  text-align: center;
  margin: 0 auto;
}

input[type=submit] {
  background-color: white;
  color: rgb(31, 41, 55);
  border-radius: 10px;
  width: 155px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

input[type=submit]:hover {
  border-radius: 10px;
  width: 155px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

input[type=email] {
  padding: 5px;
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.images-extraits-block-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.images-extraits-images {
  width: 33%;
}

iframe {
  margin: 0 auto;
  padding-top: 50px;
}

/* PRÉSENTATION DES ACTEURS */
#presentation-acteurs {
  width: 90%;
  margin: 0 auto;
}

.acteur {
  width: 20%;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 50px;
}

.icone {
  width: 8%;
  display: inline-block;
  padding-left: 3px;
}

/* BEHIND-THE-SCENE */
#behind-the-scene {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.scene-txt-right {
  display: inline-flex;
  text-align: justify;
  align-items: center;
}

.scene-txt-right img {
  padding-right: 50px;
}

.scene-txt-right p {
  width: 40%;
}

.scene-txt-left {
  display: inline-flex;
  text-align: justify;
  align-items: center;
}

.scene-txt-left img {
  padding-left: 50px;
}

.scene-txt-left p {
  width: 40%;
}

/* FAITS DIVERS */
#faits-divers {
  width: 90%;
}

.faits-divers-image-right {
  width: 50%;
  float: left;
}

.faits-divers-txtcontainer-right {
  width: 50%;
  margin-bottom: 300px;
  padding: 30px;
  background-color: rgb(60, 71, 92);
  float: right;
}

.faits-divers-txtcontainer-right p {
  color: white;
}

.faits-divers-txtcontainer-right h1 {
  color: white;
}

.box-chiffre-left {
  width: 50%;
  float: left;
}

.box-chiffre-right {
  width: 50%;
  float: right;
}

.faits-divers-button {
  float: right;
  position: absolute;
  top: 125%;
  left: 47%;
  background-color: white;
  color: rgb(31, 41, 55);
  border-radius: 10px;
  width: 155px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

.faits-divers-button:hover {
  border-radius: 10px;
  width: 155px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

button {
  text-transform: uppercase;
<<<<<<< HEAD
}

/* FOOTER */
footer {
  background-color: white;
}

footer p {
  color: black;
}

.footer-icone-left {
  width: 50%;
  float: left;
  display: inline-flex;
  padding-left: 20px;
  gap: 10px;
  padding-top: 10px;
}

.footer-icone-right {
  float: right;
  display: inline-flex;
  gap: 10px;
  padding-right: 20px;
  width: 50%;
  justify-content: end;
  padding-top: 10px;
}

.footer-text-left {
  padding-left: 20px;
  padding-top: 50px;
}

.footer-text-left p {
  color: gray;
  padding-top: 10px;
  border-top: 1px solid black;
}
=======
}/*# sourceMappingURL=style.css.map */
>>>>>>> bfac1d4c5694458c61e54b3f0bd5ddd028d6d914
